<div id="posts"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Dummy.Routers.PostsRouter({posts: <%= @posts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>