<div id="posts"></div>

<script type="text/javascript">
  $(function() {
    window.controller = new Dummy.Controllers.PostsController({posts: <%= @posts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>