<% attributes.each do |attribute| -%>
<td><%%= <%= attribute.name %> %></td>
<% end -%>

<td><a href="#/<%%= id %>">Show</td>
<td><a href="#/<%%= id %>/edit">Edit</td>
<td><a href="#/<%%= id %>/destroy" class="destroy">Destroy</a></td>