<h1>Edit album</h1>

<form id="edit-album" name="album">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="artist"> artist:</label>
    <input type="text" name="artist" id="artist" value="<%= artist %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Album" />
  </div>

</form>

<a href="#/index">Back</a>
