<h1>New album</h1>

<form id="new-album" name="album">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="artist"> artist:</label>
    <input type="text" name="artist" id="artist" value="<%= artist %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Album" />
  </div>

</form>

<a href="#/index">Back</a>